a {
  color: #707070;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 160px;
  padding: 10px;
}

.write-review-button {
  float: right;
  font-size: 13px;
}
.overview-contents {
  display: flex;
  flex-direction: row;
  margin: 50px 10px;
}
.overview-contents-image {
  width: 2000px;
  height: 400px;
}
.overview-contents-image img {
  width: 100%;
}
.overview-contents-details {
  margin-left: 40px;
}
.overview-title {
  margin: 10px;
  font-size: 25px;
}
.overview-details {
  margin: 20px 10px;
  font-size: 13px;
  color: #707070;
}
.overview-detail-1 {
  font-weight: bold;
}
.overview-detail-2 {
  margin: 20px 0px;
}
.overview-detail-2 span {
  display: inline-block;
  width: 130px;
  height: 20px;
}

.movie-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.badge-image {
  margin: 20px;
  width: 60px;
  height: 80px;
}
.badge-image img {
  width: 100%;
}
.badge-name {
  font-size: 18px;
  font-weight: bold;
}
.badge-info {
  font-size: 15px;
}

.user-critic-score {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.gallery {
  float: left;
}
.gallery-images {
  position: relative;
  margin: 50px 20px;
  width: 600px;
  height: 400px;
}
.slide-image {
  width: 100%;
}
.slide-button-left {
  position: absolute;
  top: 45%;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: black;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}
.slide-button-right {
  position: absolute;
  top: 45%;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: black;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}
.slide-button-left:hover{
  opacity: 0.8;
}
.slide-button-right:hover{
  opacity: 0.8;
}

.cast-crew {
  float: left;
  margin-left: 40px;
}
.cast-list {
  margin: 50px 20px;
}
.cast {
  display: flex;
  flex-direction: row;
}
.cast-image {
  width: 80px;
  margin: 10px 0px;
  margin-right: 20px;
}
.cast-image img {
  width: 100%;
}
.cast-name {
  margin-top: 10px;
  font-size: 15px;
}
.cast-info {
  font-size: 13px;
  color: #707070;
}
